<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!-- Azure Active Directory Tenant ID (from Azure Portal) -->
    <add key="ActiveDirectoryTenantId" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" />
    
    <!-- Azure Subscription ID (from Azure Portal) -->
    <add key="Subscription" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" />
    
    
    <!-- =============================== START "APPLICATION SERVICE PRINCIPAL" SECTION =============================== -->
    <!-- By uncommenting and using the fields below, this application can impersonate credentials of an application registered in the tenant's Active Directory. -->
    <!-- Otherwise, it will fall back to using User Principal credentials, which match the user who logs in when the application starts -->
    
    <!-- Client ID for Key Vault Client application -->
    <!--<add key="KeyVaultClientId" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" />-->
    
    <!-- Client Secret for Key Vault Client application -->
    <!--<add key="KeyVaultClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />-->
    <!-- =============================== END "APPLICATION SERVICE PRINCIPAL" SECTION =============================== -->
    
    
    <!-- =============================== START "DEFAULT VALUES" SECTION =============================== -->
    <!-- These are values that are unlikely to change or are otherwise okay to leave as default -->
    
    <!-- Windows Management Endpoint URL -->
    <add key="WindowsManagementUri" value="https://management.core.windows.net/" />
    
    <!-- Azure Active Directory Endpoint URL (usually okay to leave default) -->
    <add key="ActiveDirectoryEndpoint" value="https://login.microsoftonline.com/" />
    
    <!-- Client ID when requesting a token from Active Directory -->
    <!-- This default value impersonates PowerShell -->
    <add key="AADClientId" value="1950a258-227b-4e31-a9cf-717495945fc2" />
    
    <!-- Redirect URI for AAD Client above -->
    <add key="RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />
    <!-- =============================== END "DEFAULT VALUES SECTION" =============================== -->
  </appSettings>
</configuration>