<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!--<add key="Tenant" value="[Enter tenant name, e.g. contoso.onmicrosoft.com]" />
    <add key="Subscription" value="[Enter subscription ID as obtained from Azure Portal, e.g. 82692da5-a86f-44c9-9d53-2f88d52b478b]" />
    <add key="AADClientId" value="[Enter client ID for managing active directory as obtained from Azure Portal, e.g. 82692da5-a86f-44c9-9d53-2f88d52b478b]" />
    <add key="ClientId" value="[Enter client ID as obtained from Azure Portal, e.g. 82692da5-a86f-44c9-9d53-2f88d52b478b]" />
    <add key="ClientSecret" value="[Enter client secret as obtained from Azure Portal]" />
    <add key="ResourceGroup" value="[Enter resource group name, e.g. MyResourceGroup]" />
    <add key="RedirectUri" value="[Enter redirect URI as entered in Azure Portal, e.g. http://KeyVaultManager]" />
    <add key="AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="AppResourceId" value="[Enter App ID URI for Key Vault Manager, e.g. https://contoso.onmicrosoft.com/KeyVaultManager]" />
    <add key="AppBaseAddress" value="https://localhost:44321/" />-->

    <!-- Windows Management Endpoint URL (usually okay to leave default) -->
    <add key="WindowsManagementUri" value="https://management.core.windows.net/" />
    
    <!-- Azure Active Directory Endpoint URL (usually okay to leave default) -->
    <add key="ActiveDirectoryEndpoint" value="https://login.microsoftonline.com/" />
    
    <!-- Azure Active Directory Tenant ID (from Azure Portal) -->
    <add key="ActiveDirectoryTenantId" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" />
    
    <!-- Azure Subscription ID (from Azure Portal) -->
    <add key="Subscription" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" />
    
    <!-- Client ID to use for requsting a token from Azure AD (Key Vault Management) -->
    <add key="AADClientId" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" />
    
    <!-- Redirect URI for AAD Client -->
    <add key="RedirectUri" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    
    <!-- Client ID for Key Vault Client application -->
    <add key="KeyVaultClientId" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" />
    
    <!-- Client Secret for Key Vault Client application -->
    <add key="KeyVaultClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxx" />
  </appSettings>
</configuration>